body {
	color:#000000; 
	background-color: #ffffff;
	font-family: "Courier New",monospace;	
	font-size: 20px;	
	margin: 5px auto;	
	max-width: 1400px; 
	padding-left: 25px;
	padding-right: 25px;

}
table {
	color:#646464; 	
	font-family: "Courier New",monospace;
	font-size: 20px;	
}
.butt-menu{
	
	background-color: #dcdcdc;
	padding-top: 5px;
	padding-bottom: 5px;
}
.spc {border-collapse: collapse;}
.spc td, .tbord {
	border: 1px solid silver;
	font-family: Tahoma, Courier, monospace;	
	font-size: 14px;
	color:#646464;
}
.spc tr:hover {background-color: #DEFECB;}
.thd { 
	background-color: #DCDCDC; 
	border: 1px solid gray;	
	text-align: center;
	font-family: Tahoma, Courier, monospace;	
	font-size: 11px;
	color:#646464;
}
a {
	color: #6495ED; 
	text-decoration: none;
	cursor: pointer;
	border-bottom: 1px solid thin;
}
a:hover {
	border-bottom: 1px dotted #6495ED;
}
a.non,a.non:hover {
	border-bottom: none;
}
.menu {
		font-family: Tahoma, Courier, monospace;	
	font-size: 16px;
	color:#646464;
  position: relative;
  display: inline-block;
  font-size: 27;
  line-height: 2em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: #000;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #ddd inset, 0 1px 1px #fff;
}
.menu:hover {
  background: #dcdcdc linear-gradient(#fff, #dcdcdc);
  box-shadow: 0 0 0 1px #aaa inset, 0 1px 1px #aaa;
}
.menu:active {
  background: none;
    box-shadow: 0 0 0 1px #bbb inset, 0 1px 3px rgba(0,0,0,.5) inset, 0 1px 2px #fff;
}
.field {clear:both; text-align:right;}
label {float:left;}
.main {float:left}

